services:
  mongo:
    image: "mongo:latest"
    networks:
      - app-net
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    ports: 
      - "3001:3001"
    networks:
      - app-net
    environment:
      - MONGODB_URI=mongodb://mongo:27017/expense-tracker
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    networks:
      - app-net
    depends_on:
      - backend

volumes:
  mongo-data:

networks:
  app-net:
    driver: bridge
